@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
    padding: 0;
    margin: 0;
    color: #565b59;
    font-family: "Poppins", sans-serif;;
}
.card{
    width: 70%;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid #9BC53D;
    border-radius: 5px;
}
.header-pengaduan{
    display: flex;
    justify-content: space-between;
}
.label-proses{
    color: #FDE74C;
}
.label-selesai{
    color: #9BC53D;
}
.btn{
    width: 120px;
    height: 35px;
    /* background-color: #9BC53D; */
    border-radius: 3px;
    margin-left: 5px;
    padding-top: 8px;
}
.edit-to-end{
    background-color: #9BC53D;
}
.edit-to-process{
    background-color:  #FDE74C;
}
.edit-to-process:hover{
    background-color: #FDEC68;
}
a{
    text-decoration: none;
    text-align: center;
}
.date{
    font-weight: 300;
}
hr{
    margin-top: 5px;
    margin-bottom: 10px;
}
.card-body{
    padding-left: 30px;
}
.card-body h4{
    padding-top: 5px;
}
.card-body p{
    margin-bottom: 10px;
}
form{
    padding-top: 10px;
}
label{
    font-weight: 600;
}
textarea{
    width: 98%;
    height: 80px;
    padding: 5px 5px;
}
.btn-submit{
    width: 200px;
    height: 35px;
    background-color: #5BC0EB;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
    font-weight: 500;
}