*{
    padding: 0;
    margin: 0;
    color: #114232;
}
.container{
    padding: 0;
    margin: 0;
}
.navbar{
    padding: 15px 70px;
    background-color: #FDE74C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.link{
    text-decoration: none;
    font-size: 15pt;
}
.btn-login-regis{
    width: 120px;
    height: 40px;
    border-radius: 5px;
}
.btn-nav{
    background-color: #9BC53D;
}
.text-btn{
    text-align: center;
    padding-top: 8px;
}
h2{
    font-size: 23pt;
}
.title-section{
    height: 60vh;
    background-color: #9BC53D;
    padding: 120px 70px;
    display: flex;
    justify-content: space-between;
}
.title-content{
    padding-top: 100px;
}
.btn-login{
    background-color: #FDE74C;
}
.title-content h2{
    font-size: 33pt;
}
.con-p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15pt;
}
.con-btn{
    display: flex;
}
.btn-regis{
    margin-left: 5px;
    color: red;
    background-color: #9BC53D;
    border: #FDE74C;
}
.img-title{
    width: 700px;
}