*{
    margin: 0;
    padding: 0;
    color: #565b59;
    font-family: Arial, Helvetica, sans-serif;
}
.card-con{
    max-width: 400px;
    min-height: 300px;
    border: 1px solid #9BC53D;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #9BC53D;
}
h2{
    text-align: center;
    padding-top: 10px;
}
form{
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.con-field{
    padding-top: 7px;
}
label{
    font-size: 11pt;
}
input{
    width: 300px;
    height: 23px;
    border: 1px solid #9BC53D;
    border-radius: 3px;
    margin-top: 5px;
}
.btn-regis{
    margin-top: 20px;
    width: 300px;
    height: 30px;
    background-color: #FDE74C;
    border: none;
    border-radius: 5px;
}
.btn-regis:hover{
    background-color: #FDEC68;
}
.login{
    padding-left: 40px;
    padding-top: 3px;
    padding-bottom: 10px;
}
.login p{
    font-size: 10pt;
}
a{
    font-size: 10pt;
    color: #318eb5;
}
.alert{
    width: 50%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    border-radius: 5px;
}
.alert-danger{
    border: 1px solid #FF6666;
}
.alert-danger p {
    text-align: center;
    color: #FF6666;
}